.App {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.app-header {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.signin-msg {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.signin-btn {
	width: auto;
	margin: auto;
}

.login-page {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

.dashboard {
	margin: auto;
	width: 50%;
	padding: 20px;
	text-align: center;
}

html {
	background-image: url("./img/Background.png");
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.match {
	border: 1px solid;
	padding: 2px;
}

.match-pic {
	width: 10%;
	height: 10%;
	pointer-events: all;
	cursor: pointer;
}

.match-window {
	border: 2px solid;
}

.team-container {
	display: flex;
}

.team {
	flex: 1;
}
